GmailClient/GmailClient/bin/Debug/GmailClient.exe
GmailClient/GmailClient/bin/Debug/GmailClient.pdb
GmailClient/GmailClient/obj/Debug/GmailClient.exe
GmailClient/GmailClient/obj/Debug/GmailClient.pdb
GmailClient/GmailClient/bin/Debug/GmailClient.exe
GmailClient/GmailClient/bin/Debug/GmailClient.pdb
GmailClient/GmailClient/obj/Debug/GmailClient.exe
GmailClient/GmailClient/obj/Debug/GmailClient.pdb
