GmailClient/GmailClient/bin/Debug/GmailClient.exe
GmailClient/GmailClient/bin/Debug/GmailClient.pdb
GmailClient/GmailClient/obj/Debug/GmailClient.exe
GmailClient/GmailClient/obj/Debug/GmailClient.pdb
GmailClient/.vs/GmailClient/v14/.suo
GmailClient/GmailClient/bin/Debug/GmailClient.exe
GmailClient/GmailClient/bin/Debug/GmailClient.pdb
GmailClient/GmailClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GmailClient/GmailClient/obj/Debug/GmailClient.csproj.FileListAbsolute.txt
GmailClient/GmailClient/obj/Debug/GmailClient.csproj.GenerateResource.Cache
GmailClient/GmailClient/obj/Debug/GmailClient.csprojResolveAssemblyReference.cache
GmailClient/GmailClient/obj/Debug/GmailClient.exe
GmailClient/GmailClient/obj/Debug/GmailClient.pdb
